{% extends 'partials/base.html'  %}
{% block title %} Inicio sesion {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <!--Table-->
    <div class="container"> 
        <div class="row my-4">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <span class="h4"> Profile Information</span> 
                                <hr>
                                <form method="post" enctype="multipart/form-data">
                                    {{user_form|crispy}}
                                    {{perfil_form|crispy}}
                                    {% csrf_token %}
                                    <input type="submit" value="Actualizar" class ="btn btn-info">
                                </form>
                            </div>
                            <div class="col-md-4">
                                <img class="img-thumbnail"  src="{{user.perfil.imagen.url}}" alt=""> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}