{% extends 'partials/base.html'  %}
{% block title %} Pedidos {% endblock %}

{% block content %} 
{% include 'partials/topnav.html' %}
    <!--Table-->
    <div class="container"> 
        <div class="row my-4">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Producto</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Pedido por</th>
                            <th scope="col">Fecha de pedido</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orders in orders %}
                        <tr>
                            <td>{{orders.producto}}</td>
                            <td>{{orders.producto.category}}</td>
                            <td>{{orders.cantidad_solicitada}}</td>
                            <td>{{orders.staff}}</td>
                            <td>{{orders.fecha_solicitud}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!--End Table-->
{% endblock %}